.post {
  background-color: rgb(198, 160, 244);
  color: black;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  border: 1.5px solid black;
}

.post h3 {
  background-color: black;
  width: fit-content;
  margin: 20px auto;
  padding: 5px;
  color: white;
}

.post p {
  width: 70%;
  margin: auto auto 30px auto;
}
